* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

body {
  width: 100%;
}

p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.3;
}

section {
  padding: 7rem 0;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  /* background-color: tomato; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HEADER */

header {
  width: 100%;
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 7rem;
  padding: 0rem 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

li a,
li a:visited,
li a:active {
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  transition: all 0.2s;
}

ul li .current,
li a:hover {
  color: #d89f43;
  font-size: 1.6rem;
}

/* INTRO SECTION */

.intro-section {
  background: url(./images/fine-dining.jpeg) no-repeat center;
  background-size: cover;
  height: 60vh;
}

.intro {
  width: 55%;
  color: #fff;
  background-color: rgba(32, 32, 32, 0.418);
  padding: 5rem 2rem;
  border-radius: 5px;
}

.intro .intro-text {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 1px #d89f43;
}

.p-head {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}

.p-head span {
  display: block;
}

.white-text {
  color: #fff;
  margin-bottom: 2.5rem;
}

.btn {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  padding: 0.7rem 3.6rem;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #dedede;
  color: #000;
}

/* ABOUT */

.about-section {
  background-color: #f3f3f38b;
  border-bottom: 1px solid rgba(0, 0, 0, 0.108);
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.s-head {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* MENU */

.menu-section {
  background-color: #fff;
}

.menu-heading {
  text-align: center;
}

.menu-items {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.menu-item {
  width: 100%;
  margin: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow: hidden;
}

.menu-item img {
  width: 100%;
  height: 50%;
  margin-bottom: 1rem;
}

.menu-item-text {
  padding: 1rem;
  margin-bottom: 3rem;
}

.t-head {
  font-size: 2.4rem;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.menu-item-text p {
  font-size: 1.7rem;
}

/* TESTIMONIAL */
.testimonial-section {
  background: url(./images/wine1.jpeg) no-repeat center;
  background-size: cover;

  background-attachment: fixed;
}

.testimonial {
  width: 60%;
  text-align: center;
  padding: 5rem 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.q-head {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

/* MEDIA-QUERY */

@media screen and (max-width: 600px) {
  /* INTRO */
  .intro {
    width: 100%;
  }

  /* ABOUT */
  .about {
    width: 100%;
  }

  /* MENU */
  .menu-items {
    display: flex;
    flex-direction: column;
  }

  /* TESTIMONIAL */
  .testimonial {
    width: 90%;
    padding: 2rem;
  }
}
